  html {
   /* 盒子大小包括边界 */
    box-sizing: border-box; 
  }
  *, *:before, *:after {
    box-sizing: inherit;
    user-select: none;
  }
  
  body {
    background-color: #aaa;
    font-family: Sans-Serif;
  }
  
  canvas {
    background-color: #fff;
    border: 1px solid black;
    width: 1000px;
    height: 800px;
    display: block;
  }
  